@import "tailwindcss";

html {
  scroll-behavior: smooth;
  /* On ne met surtout pas de overflow ici pour AOS */
}

body {
  position: relative;
  width: 100%;
  /* On ne met pas de overflow ici non plus */
}

@theme {
  /* --- ANIMATIONS MARQUEE (VITESSE MOBILE VS DESKTOP) --- */

  /* Vitesse rapide (par défaut pour mobile) : 5 secondes */
  --animate-marquee: marquee 5s linear infinite;

  /* Vitesse lente (pour desktop) : 40 secondes */
  --animate-marquee-slow: marquee 40s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

::selection {
  background-color: #e7e5e4;
  color: #1c1917;
}
